@use "sass:math";

.inputBox {
    width: 100%;
    
    border: 1px solid var(--grey-200);
    transition: border-color 0.3s ease 0s;
    border-radius: 20px;
    display: flex;
    column-gap: 8px;
    padding: 5px 20px;
    min-height: 64px;
    background: var(--grey-100);

    //.inputBox__input
    &__input {
        flex: 1 1 auto;
        width: 100%;
        background: inherit;
        outline: none;
        transition: color 0.3s ease 0s;

        color: var(--grey-950);
        font-weight: 500;
    }

    //.inputBox__icon
    &__icon {
        flex: 0 0 20px;
        align-self: center;
    }
}
