@use "sass:math";

.button {
  display: flex;

  border: none;

  justify-content: center;
  align-items: center;
  column-gap: 8px;
  min-height: 64px;
  min-width: 172px;
  width: 100%;

  font-size: 18px;

  cursor: pointer !important;
  transition: all 0.3s ease 0s;

  border-radius: 35px;

  &_icon {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;

    svg {
      margin: auto;
    }
  }


  //.button_fillSmall
  &_primary {
    color: white;
    background: var(--blue-600);

    &_icon {
      background: white;
    }

    &:active {
      color: white;
      background: var(--blue-500);
    }

    &:hover {
      color: white;
      background: var(--blue-500);
    }
  }


  &:disabled:not(.button_loading) {
    cursor: not-allowed !important;
    opacity: 0.6;
  }

  //.button_loading
  &_loading {
    cursor: wait !important;
    opacity: 0.6;

    :global {
      animation: pulse 2s infinite ease-in-out;
    }
  }
}

